h1 {
    letter-spacing: -1px;
}

h1 a, h1 a:visited {
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
    margin-top: 2em;
}

.title {
	text-align: center;
}
		
.left {
    text-align: left;
}

.toc li span {
    color: rgba(0, 0, 0, 0.5);
}