img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.4em;
}

code {
    background-color: #7dc0c350;
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
}

.toc {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .toc {
        max-width: 700px;
    }
}